body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}


// PROFILES

.profile-heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-grey-darkest;
}

.profile-subheading {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey-darkest;

    &--color {
        font-weight: 300;
        color: $color-primary;
    }

    &--grey-italic {
        font-weight: 300;
        color: $color-grey;
    }
}

.profile-text {
    font-size: 1.6rem;
    color: $color-grey;
}

.profile-text-separater {
    border: .5px solid $color-grey-lighter;
}
