// .arrow-up {
//     width: 0; 
//     height: 0; 
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
    
//     border-bottom: 5px solid $color-grey-light;
// }

.arrow-up {
    height: 1rem;
    width: 1rem;
    border-top: 1px solid $color-grey-light;
    border-left: 1px solid $color-grey-light;
    background-color: #fff;
    transform: rotate(45deg);
}