.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    
    &:not(:last-child) {
        margin-bottom: $grid-gutter-vertical;
    }

    //this selects any elements with class starting with "col-"
    [class^="col-"] {
        // float: left;
        
        &:not(:last-child) {
            margin-right: $grid-gutter-horizontal;
        }
    }
    
    .col-full-width {
        width: 100%;
    }

    .col-1-of-2 {
        flex: 0 0 calc((100% - #{$grid-gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        flex: 0 0 calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        flex: 0 0 calc(2 * ((100% - 2 * #{$grid-gutter-horizontal}) / 3) + #{$grid-gutter-horizontal});
    }

    .col-1-of-4 {
        flex: 0 0 calc((100% - 3 * #{$grid-gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        flex: 0 0 calc(2 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + #{$grid-gutter-horizontal});
    }

    .col-3-of-4 {
        flex: 0 0 calc(3 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + (#{$grid-gutter-horizontal} * 2));
    }

}